<section data-ng-controller="HomeController">
	<div class="text-center" style="margin: 100px">
		<br>
		<div class="row">
			<div class="col-md-6 col-md-offset-5 col-sm-6 col-sm-offset-5 col-xs-12">
				<img alt="Nislidi" class="img-responsive text-center" src="modules/core/img/brand/cubedw.gif"/>
			</div>
		</div>
		<br>
		<div class="row">
			<h2>
				Lots of Locations
			</h2>
		</div>
		<div class="row">
			<div class="">

				<p>
					<button class="col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-5 col-xs-12 btn btn-primary btn-lg"
							ng-click="submitClicked()">Submit Dataset</button>
				</p>

				<p>
					<button class="col-md-3 col-md-offset-2 btn btn-primary btn-lg" ng-click="analyzeClicked()">Analyze Dataset</button>
				</p>
			</div>
		</div>
	</div>

</section>
