
<!-- <ng-csv-import content="vm.content"
    header="vm.header" 
    separator="vm.separator"
    result="vm.result"
    accept="vm.accept"></ng-csv-import> -->
    <!-- {{vm.result}} -->
<!--       <div id="floating-panel">
    <b>Start: </b>
    <select id="start">
      <option value="penn station, new york, ny">Penn Station</option>
      <option value="grand central station, new york, ny">Grand Central Station</option>
      <option value="625 8th Avenue, New York, NY, 10018">Port Authority Bus Terminal</option>
      <option value="staten island ferry terminal, new york, ny">Staten Island Ferry Terminal</option>
      <option value="101 E 125th Street, New York, NY">Harlem - 125th St Station</option>
    </select>
    <b>End: </b>
    <select id="end">
      <option value="260 Broadway New York NY 10007">City Hall</option>
      <option value="W 49th St & 5th Ave, New York, NY 10020">Rockefeller Center</option>
      <option value="moma, New York, NY">MOMA</option>
      <option value="350 5th Ave, New York, NY, 10118">Empire State Building</option>
      <option value="253 West 125th Street, New York, NY">Apollo Theater</option>
      <option value="1 Wall St, New York, NY">Wall St</option>
    </select>
    </div>
    <div id="map"></div>
    &nbsp;
    <div id="warnings-panel"></div> -->
<div class="row maps-row">
<div class="col-md-4" style="height:700px;overflow-y:scroll;">
 <table class="table table-bordered table-hover">
    <thead>
      <tr style="background:rgba(0,0,0,0.4)">
        <th style="text-align:center;">Cluster ID</th>
        <th style="text-align:center;">Location</th>
        <th>Heat Map Index</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="clusterid in vm.clusterIds" ng-click="vm.locationFocus($index)" style="cursor:pointer">
        <td ng-bind="clusterid"></td>
        <td ng-bind="vm.formattedLocs[$index]"></td>
        <td ng-bind="vm.heatMapInds[$index]" ng-style="{'background-color':'rgba(255,0,0,'+vm.heatMapInds[$index]+')'}"></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-8">
    <div id="map"></div>
    </div>
</div>
